@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@keyframes aurora-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-aurora-gradient {
  background-size: 200% 200%;
  animation: aurora-gradient 5s ease-in-out infinite;
}
